ul[tabindex="0"]:focus {
    background: #ffa5005e;
  }
  
  ul.custom-list-box {
    padding: 1rem;
    max-width: 320px;
    text-align: left;
    border: 1px dashed #ccc;
    list-style: none;
    margin-bottom: 1rem;
  }
  