* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

:root {
  --color-text: #929292;
  --color-separator: #ccc;
  --color-active: #08f;
  --color-active-muted: #a6d7fe;
  --input-height: 30px;
  --input-height-small: 28px;
  --form-border-radius: 3px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  text-align: center;
  padding: 3.6rem;
  color: var(--color-text);
}
/* required */
.flex {
  display: flex;
}


